<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.swing.LJH.SeatReservationMapper">
  <!-- 예매 정보 조회 -->
  <select id="selectReservation" parameterType="int" resultType="project.swing.LJH.SeatReservationVO">
    SELECT * FROM seat_reservation WHERE reservation_id = #{reservationId}
  </select>
  
  <!-- 예매 정보 등록 -->
  <insert id="insertReservation" parameterType="project.swing.LJH.SeatReservationVO">
    INSERT INTO seat_reservation (reservation_id, movie_name, seat_number, reservation_date) 
    VALUES (#{reservationId}, #{movieName}, #{seatNumber}, #{reservationDate})
  </insert>
  
  <!-- 예매 정보 삭제 -->
  <delete id="deleteReservation" parameterType="int">
    DELETE FROM seat_reservation WHERE reservation_id = #{reservationId}
  </delete>
  
  <!-- 영화목록 불러오기  -->
   <select id="getMovieList" resultType="project.swing.LJH.SeatReservationVO">
        SELECT * FROM movie;
    </select>
  
</mapper>