<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.swing.LJH.Mapper">
  
  <!--영화선택 리스트에 들어갈 맵퍼  -->
  <select id="selectMovie" parameterType="String" resultType="project.swing.LJH.VO">
  	select movie_name from movie  
  </select>
  <!--테스트임  -->
  
  
 
  
  
  
</mapper>