<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
	<!-- TICKET 테이블에 예매 정보 삽입 -->
	<insert id="movieinsert" parameterType="Pay.Pay_VO">
		insert into TICKET(ticket_num, movie_id, cust_id, movie_name, theater_id, movie_date, start_time, end_time, theater_seat)
		values(TICKET_SEQ.nextval, #{movie_id},#{cust_id}, #{movie_name}, #{theater_id}, #{movie_date}, #{start_time}, #{end_time}, #{theater_seat})
	</insert>
	
	<!-- 로그인 한 회원 ID 가져오기 -->
	<select id="getMemberLogin" resultType="java.lang.String">
		SELECT CUST_ID FROM LOGIN_INFO
	</select>
	
	<!-- 해당 회원의 잔여포인트 가져오기 -->
	<select id="getRemainingPoints" resultType="java.lang.Integer" parameterType="Pay.Pay_VO">
		SELECT P.REMAINING_POINT
		FROM LOGIN_INFO L, POINT P
		WHERE L.CUST_ID = P.CUST_ID
	</select>
</mapper>